# Telegram Bot and PostgreSQL
TELEGRAM_TOKEN=token
DATABASE_USER=postgres
DATABASE_NAME=vpnservice_db
DATABASE_HOST=db
DATABASE_PASSWORD=root
YOOMONEY_TOKEN=
MARZBAN_HOST=https://dns.name.com/
MARZBAN_USERNAME=login
MARZBAN_PASSWORD=password

# Node Monitor and Redis
MARZBAN_BASE_URL=https://your-marzban-instance.com/api
MARZBAN_USERNAME=your_username
MARZBAN_PASSWORD=your_password
TELEGRAM_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
TELEGRAM_THREAD_CHAT_ID=
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=1
REDIS_PASSWORD=PASSWORD
LOG_LEVEL=DEFAULT
LANG=ru
TELEGRAM_LOGS=true